.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    input[type="text"] {
      width: 100%;
      height: 50px;
      font-size: 20px;
      text-align: right;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      background-color: #444;
      color: white;
    }
  
    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
  
      button {
        width: 100%;
        height: 50px;
        font-size: 20px;
        background-color: #444;
        border: 1px solid gray;
        border-radius: 5px;
        color: white;
  
        &:hover {
          background-color: #555;
          cursor: pointer;
        }
      }
  
      .operator {
        background-color: orange;
        color: white;
      }
    }
  
    @media (max-width: 767px) {
      input[type="text"] {
        font-size: 16px;
      }
  
      button {
        font-size: 16px;
      }
    }
  }
  